<a href="https://colab.research.google.com/github/michalis0/Business-Intelligence-and-Analytics/blob/master/assignment2/assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment 2: Regression and Classification

- Due: May 13 @ 23.59
- Deliverables: You should submit this notebook in Moodle AND answer the questions in the relevant Quiz in Moodle (your grade depends on the quiz).
- Please make sure you fill out the quiz carefully. If you have the correct response on the notebook but not in the quiz you will loose some points. 

The assignment is about regression over two different datasets (2 parts), then a classification for the third part. Each part is independent, you can proceed to complete the different tasks (**please respect the different indications from the statement and the following hints!!!**). Then you should be able to answer the different questions.

In [0]:
# Useful starting lines
%matplotlib inline
%load_ext autoreload
%autoreload 2

#Data processing import
import numpy as np
import pandas as pd

#Set displayed options 
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

#Visualisation import
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("darkgrid")

# Sklearn import
from sklearn.preprocessing import MinMaxScaler # Normalization
from sklearn.linear_model import LinearRegression # Regression linear model
from sklearn.model_selection import train_test_split # Splitting the data set
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score # Metrics for errors
from sklearn.model_selection import KFold # Cross validation

#Suppress warning messages
import warnings
warnings.filterwarnings('ignore')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Part 1: Credit prediction

The first part focuses on a credit dataset and contains anonymous credit and banking information. First, we give you the loading and the preprocessing steps before proceeding with the regression.

In [0]:
url = "https://raw.githubusercontent.com/michalis0/Business-Intelligence-and-Analytics/master/data/Credit.csv"
credits = pd.read_csv(url)
display(credits.head())
# Observations and columns (dimensions)
print("Number of observations", credits.shape[0])
print("Number of dimensions", credits.shape[1])
#Drop unnamed: 0 columns because useless
credits.drop("Unnamed: 0", axis= 1)

#Encode the Gender, Student and Married columns to integers for regression
credits.replace(to_replace=['Female', ' Male'], value=[0, 1], inplace=True)
credits.replace(to_replace=['No', 'Yes'], value=[0, 1], inplace=True)
display(credits.head())

   Unnamed: 0   Income  Limit  Rating  Cards  Age  Education  Gender Student Married  Ethnicity  Balance
0           1   14.891   3606     283      2   34         11    Male      No     Yes  Caucasian      333
1           2  106.025   6645     483      3   82         15  Female     Yes     Yes      Asian      903
2           3  104.593   7075     514      4   71         11    Male      No      No      Asian      580
3           4  148.924   9504     681      3   36         11  Female      No      No      Asian      964
4           5   55.882   4897     357      2   68         16    Male      No     Yes  Caucasian      331

Number of observations 400
Number of dimensions 12

   Unnamed: 0   Income  Limit  Rating  Cards  Age  Education  Gender  Student  Married  Ethnicity  Balance
0           1   14.891   3606     283      2   34         11       1        0        1  Caucasian      333
1           2  106.025   6645     483      3   82         15       0        1        1      Asian      903
2           3  104.593   7075     514      4   71         11       1        0        0      Asian      580
3           4  148.924   9504     681      3   36         11       0        0        0      Asian      964
4           5   55.882   4897     357      2   68         16       1        0        1  Caucasian      331

### One feature prediction without normalization

**Task 1.1:**  
From the credits dataset use a linear regression model to predict the `Rating` target from each of these 3 features separately: `Income`, `Limit` and `Age`. 

**Hint:** 
- Do not normalize the data
- Split your dataset into two sets: the training set (80%) and the test set(20%), set the **shuffle parameter to true** and the **random state to 3**
- Create your linear model by fitting also an intercept over the training dataset (set the fit_intercept parameter to `True`). Don't change any other parameters to the model.
- Use the R^2 score, the MAE and the MSE on your test set to compare your 3 models (you should display these values)

In [0]:
#Your code here: Rating prediction from Income.
# print MAE, MSE, R^2 for the test set

In [0]:
#Your code here: Rating prediction from Limit
# print MAE, MSE, R^2

In [0]:
#Your code here: Rating prediction from Age
# print MAE, MSE, R^2

**Question 1 :**  
What is the MAE of the "Age" model (rounded to the closest integer, eg 60) ?

In [0]:
#Your code here

**Question 2 :**  
What is the MSE of the "Limit" model (rounded to the closest integer) ?

In [0]:
#Your code here

**Question 3 :**  
Which feature best predicts the Rating target output ?

In [0]:
#Your code here

### Several features encoding without normalization

From the credits dataset, we want to predict the `Age` from some particular features: `Education`, `Student` and `Married`.

**Task 1.2:**
With a linear regression model, reuse the procedure from the previous task (applied to 3 features as inputs) to regress the `Age`.

**Hint:** 
- Do not normalize the data
- Split your dataset into two sets: the training (80%) and the test set(20%), set the shuffle parameter to true and the random state to 3
- Create your linear model by fitting the intercept  weight over the training dataset (set the parameter to `True`)
- Use the R^2 score, the MAE and the MSE to compare your 3 models (you should display these values)

In [0]:
#Your code here: Age prediction from Education Student and Married
# print MAE, MSE, R^2 for the test set.

**Question 4:**  
What is the MAE of your model (rounded to the nearest integer, eg 60) ?

In [0]:
#Your code here:

**Question 5:**  
Predict the resulting value when putting the 5th row of the *original* data as input (ie on the 5 row of the all data that you have loaded, after selecting the 3 features and before the train/test split). What predicted value for the age you get (rounded to the closest integer) ?

**Hint:**
- Use the `predict()` function of your model on the 5th row
- To access this value you can use `iloc` (see definition of `iloc` to make sure you select the proper row)

In [0]:
#Your code here:

**Question 6:**  
After rounding your prediction to the closest integer value, compute the absolute error from the true age value. What value do you get ?

In [0]:
#Your code here:

**Task 1.3:**  
Now redo the task 1.2 but this time with a normalization (`MinMaxScaler`sklearn module). Keep the same indications present in the hint. 

**Hints:**
- with the scaler fit and transform X_train then transform X_test

In [0]:
#Your code here: Age prediction from Education Student and Married with normalization

**Question 7:**  
What is the new value of the coefficient related to the `Student` feature (rounding to one decimal place, e.g: 1.1) ?

In [0]:
#Your code here:

### One hot encoding over ethnicity with normalization

**Task 1.4:**  
From the `credits` dataset, do 1-hot encoding on the column `Ethnicity` using the function `get_dummies()` from pandas. We are interested in the influence of ethnicity to predict the rating. 
Compare two models:
- for the first one try to predict `Rating` from: `Education`, `Student` and `Married`
- for the second one try to predict `Rating` from: `Student`, `Married`, `Education` and all the `Etchnicity` encoded columns generated by `get_dummies()`

For both, apply normalization using the `MinMaxScaler`sklearn module.

**Hint:**
- Split your dataset into two sets: the training set (80%) and the test set(20%), set the **shuffle parameter to true** and the **random state to 3**
- Create your linear model by fitting also the intercept over the training dataset (set the parameter to `True`)
- Use the R^2 score, the MAE and the MSE on your test set to compare your 3 models (you should display these values)

In [0]:
#Your code here: One hot encoding on ethnicity

In [0]:
#Your code here: Rating prediction from Education Student and Married
# print MAE, MSE, R^2 of the test set

In [0]:
#Your code here: Age prediction from Education Student Married and Ethnicity encoding columns
# print MAE, MSE, R^2 of the test set

**Question 8:**  
What is the value of the MSE for the first model (rounded to the closest integer, eg 10000)?

In [0]:
#Your code here:

**Question 9:**   
Is adding the ethnicity helping to better predict the rating?

In [0]:
#Your code here:

## Part 2: Wage prediction 

This part of this assignment will focus on the compensation CEO dataset. For this part, apply normalization each time (`MinMaxScaler` sklearn module).

In [0]:
url = "https://raw.githubusercontent.com/michalis0/Business-Intelligence-and-Analytics/master/data/Wage.csv"
wages = pd.read_csv(url)
wages.drop(['sex', 'region'], axis=1, inplace=True)
display(wages.head())

# Observations and columns (dimensions)
print("Number of observations", wages.shape[0])
print("Number of dimensions", wages.shape[1])
columns_one_hot_encoding = ['race', 'maritl', 'education' ]
columns_bin_encoding = ['jobclass', 'health', 'health_ins']

wages.replace(to_replace=['2. No', '1. Yes', '1. Industrial', '2. Information', '1. <=Good', '2. >=Very Good' ], value=[0, 1, 0, 1, 0, 1], inplace=True)
wages.replace(to_replace=['1. Never Married', '2. Married', '4. Divorced', '3. Widowed', '5. Separated'], value=['Never Married', 'Married', 'Divorced', 'Widowed', 'Separated'], inplace=True)
wages.replace(to_replace=['1. White', '3. Asian', '4. Other', '2. Black'], value=['White', 'Asian', 'Other', 'Black'], inplace=True)
wages.replace(to_replace=['1. < HS Grad', '4. College Grad', '3. Some College', '2. HS Grad','5. Advanced Degree'], value=['< HS Grad', 'College Grad', 'Some College', 'HS Grad','Advanced Degree'], inplace=True)

display(wages.head())

   year  age            maritl      race        education        jobclass          health health_ins   logwage        wage
0  2006   18  1. Never Married  1. White     1. < HS Grad   1. Industrial       1. <=Good      2. No  4.318063   75.043154
1  2004   24  1. Never Married  1. White  4. College Grad  2. Information  2. >=Very Good      2. No  4.255273   70.476020
2  2003   45        2. Married  1. White  3. Some College   1. Industrial       1. <=Good     1. Yes  4.875061  130.982177
3  2003   43        2. Married  3. Asian  4. College Grad  2. Information  2. >=Very Good     1. Yes  5.041393  154.685293
4  2005   50       4. Divorced  1. White       2. HS Grad  2. Information       1. <=Good     1. Yes  4.318063   75.043154

Number of observations 3000
Number of dimensions 10

   year  age         maritl   race     education  jobclass  health  health_ins   logwage        wage
0  2006   18  Never Married  White     < HS Grad         0       0           0  4.318063   75.043154
1  2004   24  Never Married  White  College Grad         1       1           0  4.255273   70.476020
2  2003   45        Married  White  Some College         0       0           1  4.875061  130.982177
3  2003   43        Married  Asian  College Grad         1       1           1  5.041393  154.685293
4  2005   50       Divorced  White    2. HS Grad         1       0           1  4.318063   75.043154

### Several features regression
**Task 2.1:**  
Use a linear regression model to predict the `wage` and the `logwage` (two separate models) using the features: `jobclass` ,`health_ins` and `health`. 

**Hint:**
- Split your dataset into two sets: the training set (80%) and the test set(20%), set the **shuffle parameter to true** and the **random state to 3**
- Create your linear model by fitting the intercept  weight over the training dataset (set the parameter to `True`)
- Use the R^2 score, the MAE and the MSE on your test set to compare your 3 models (you should display these values)
- Apply normalization (`MinMaxScaler` sklearn module).

In [0]:
#Your code here: wage prediction from jobclass health_ins and health
# print MAE, MSE, R^2 of test set

In [0]:
#Your code here: logwage prediction from jobclass health_ins and health
# print MAE, MSE, R^2 of test set

**Question 10:**  
Which target (`wage` or `logwage`) do these features predict the best ?

In [0]:
#Your code here:

**Task 2.2:**  

Start with a model which uses as input features the `jobclass` and `health_ins`. Generate this model first (model 1).  
Then **sequentially** (i.e., in a for loop) create 3 more models by adding the `health` (model 2),  the `age` (model 3) then the `year` (model 4) to the previous features matrix. (i.e model1_features -> [`jobclass`, `health_ins`], model2_features -> [`jobclass`, `health_ins`, `health`], model3_features -> [`jobclass`, `health_ins`, `health`,  `age` ] and so on...)  
Then plot the training and testing error of these 4 models. 

**Hint:**
- Split your dataset into two sets: the training set (80%) and the test set(20%), set the **shuffle parameter to true** and the **random state to 3**
- Create your linear model by fitting the intercept  weight over the training dataset (set the parameter to `True`)
- Use the MAE on your test set to compare your 3 models (you should display these values)
- Apply normalization (`MinMaxScaler`sklearn module).
- Consider these features (**in this order**): `jobclass`, `health_ins`, `health`, `year`,  `age`.
- you can use python lists to save the training and testing errors

In [0]:
X = wages[['jobclass', 'health_ins', 'health', 'age', 'year']]
y = wages["wage"]

In [0]:
#Your code here: model prediction by  adding features sequentially

**Question 11:**  
Which model the smallest absolute difference between train and test MAE (across all the models that you tried) ?

In [0]:
#Your code here:

**Question 12:**  
Which of the models have the highest test error (across all the models that you tried) ?

In [0]:
#Your code here:

### Cross Validation feature regression

**Task 2.3:**  
Apply a one hot encoding over the columns:`race`, `education` and `maritl` (using the function `get_dummies()`).  
 
Consider all columns of the new wages dataframe (except `wage` and `logwage` which are the targets) as model features. Implement a cross validation procedure, save the scores of the different folds in an array.

**Hint:**  
- Use `get_dummies()` function from pandas
- Use `KFold()` module from sklearn with **3 splits**
- Split your dataset into two sets: the training set (80%) and the test set(20%), set the **shuffle parameter to true** and the **random state to 3**
- Create your linear model by fitting the intercept  weight over the training dataset (set the parameter to `True`)
- Use the R^2 score, the MAE and the MSE on your test set to compare your 3 models (you should display these values)
- Apply normalization (`MinMaxScaler`sklearn module).

In [0]:
#Your code here: one hot encoding

In [0]:
targets = ['wage', 'logwage']
features = [x for x in wages.columns.tolist() if x not in targets]

In [0]:
#Your code here: cross validation with KFolds over 3 splits

**Question 13:**  
What is the mean (average) value of the R^2 scores across all folds (rounding to two decimals place, e.g: 1.11) ?

In [0]:
#Your code here:

## Part 3 : Classification

For this part we will use the Titanic dataset. Load the dataset in a pandas dataframe

In [0]:
#data link
#'https://raw.githubusercontent.com/ahmadajal/DM_ML_course_public/master/5.%20Classification/in-classExercise/data/titanic_train-clean.csv'

   PassengerId   Age  Embarked     Fare  Pclass  Sex  Survived  Title  FSize
0            1  22.0         2   7.2500       3    1       0.0     12      1
1            2  38.0         0  71.2833       1    0       1.0     13      1
2            3  26.0         2   7.9250       3    0       1.0      9      0
3            4  35.0         2  53.1000       1    0       1.0     13      1
4            5  35.0         2   8.0500       3    1       0.0     12      0

The goal of the exercise will be to classify if a passenger has survived (survived = 1) given some features. Let's use *Age, Embarked, Fare, Pclass, Sex* as features and *Survived* as target. 
Your first task is to cast the survived column to *Integer* and to define your dataframe of features (X) and your dataframe of target (y)

In [0]:
# cast column Survived to int

#
X = # select columns as input features
y = # select Survived column

Let's create a train and a test set with sklearn method *train_test_split*. We are going to use 80% for training and 20% for testing

**IMPORTANT POINT** : *train_test_split* randomizes the data. In order to have the same results as those expected we need to control this randomization by giving a value for the **random_state** attribute of this method. Here use **random_state = 0** or your results will be different from ours and you won't get points

In [0]:
# create train/test split

We are going to use the Logistic Regression for our classification, without adding any parameters. You can train the model on train set

In [0]:
# create logistic regression (don't put any parameters) and create the model using the training data

Remember, logistic regression tries to find a vector $\vec w$ with the same dimension as we have features (here 5) and a number $b$, the intercept

**Question 14 :** Find the fourth component of the vector w (the one corresponding to Pclass), round it to the second decimal (exemple : -6.06) <br>
**Hint :** Arrays indices start at 0

In [0]:
# print the proper coefficient of the model

**Question 15 :** Find b, the intercept. Round it to the second decimal (exemple : -6.06)

In [0]:
# print the intercept of the model

**Question 16** : If a 42 years old man (sex = 0), embarked in city with id 0, paid his fare 17.9250 in Pclass 2, what is his probability to survive (i.e to belong to class 1). Round it to the 2nd digit (i.e. 0.12)

In [0]:
# print probability to survive for this person

**Question 17**: Compute the confusion matrix using the test data. Are there more survivors classified as dead or more dead people classified as survivors?

In [0]:
# use confusion matrix to answer this question using the test data

Now let's train a Classifier using KNN algorithm

**Question 18** : What is the optimal number of neighbors for the KNN algorithm, i.e. the minimal number of neighbors that maximizes the classification accuracy on the test set?  <br>
**hint1** : The optimal number is in $[1:50]$ <br>
**hint2** : You need to train a model for all 50 possible number of neighbors and for each compute the score of the model on the test set. Keep track of the best model at each iteration and its score

In [0]:
# your code here

Now let's try a Decision Tree classifier

**Question 19** : What is the value of maxi_depth for the decision Tree algorithm that maximizes the classification accuracy?<br>
**hint1** : The optimal number is in $[1:10]$ <br>

In [0]:
# your code here