<a href="https://colab.research.google.com/github/michalis0/Business-Intelligence-and-Analytics/blob/master/week2%20-%20Pandas%20and%20Python/Pandas/Exercise_1_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part 1

In [1]:
import pandas as pd

##Question 1
We will work on one dataset.
With the function `pd.read_csv()`, this function takes a string as an argument which corresponds to the url or the path of the file, load the file: `google-play-store-apps/googleplaystore_user_reviews.csv`.

The URL you need is: https://raw.githubusercontent.com/michalis0/Business-Intelligence-and-Analytics/master/data/google-play-store-apps/googleplaystore_user_reviews.csv

Normally CSV files are separated by commas, but this one is separated by ";". Use the argument `sep=";"` to let Pandas know that the values are separated by ";".

In [2]:
#Load the googleplaystore_user_reviews.csv file
googleplaystore_user_reviews = pd.read_csv('https://raw.githubusercontent.com/michalis0/Business-Intelligence-and-Analytics/master/data/google-play-store-apps/googleplaystore_user_reviews.csv', sep=';')

##Question 2
Chek the data (googleplaystore_user_reviews) by using the following functions:
* `.head()`(beginning of the list)
* `.tail()` (end of the list)
* `.columns` (column names)
* `.index` (raw identifier)
* `.dtypes` (column types)

In [3]:
#Beginning of the list
print('Beginning of the list:')
googleplaystore_user_reviews.head()

Beginning of the list:

                     App  ... Sentiment_Subjectivity
0  10 Best Foods for You  ...     0.5333333333333333
1  10 Best Foods for You  ...    0.28846153846153844
2  10 Best Foods for You  ...                    NaN
3  10 Best Foods for You  ...                    875
4  10 Best Foods for You  ...                    0.3

[5 rows x 5 columns]

In [4]:
#End of the list
print('End of the list:')
googleplaystore_user_reviews.tail()

End of the list:

                               App  ... Sentiment_Subjectivity
64290  Houzz Interior Design Ideas  ...                    NaN
64291  Houzz Interior Design Ideas  ...                    NaN
64292  Houzz Interior Design Ideas  ...                    NaN
64293  Houzz Interior Design Ideas  ...                    NaN
64294  Houzz Interior Design Ideas  ...                    NaN

[5 rows x 5 columns]

In [5]:
#Column names
print('Column names:')
googleplaystore_user_reviews.columns

Column names:

Index(['App', 'Translated_Review', 'Sentiment', 'Sentiment_Polarity',
       'Sentiment_Subjectivity'],
      dtype='object')

In [6]:
#Raw identifier
print('Raw identifier:')
googleplaystore_user_reviews.index

Raw identifier:

RangeIndex(start=0, stop=64295, step=1)

In [7]:
#Column types
print('Column types:')
googleplaystore_user_reviews.dtypes

Column types:

App                       object
Translated_Review         object
Sentiment                 object
Sentiment_Polarity        object
Sentiment_Subjectivity    object
dtype: object

##Question 3
Look at the different types of the columns. Most of them are Object type, the most general one, we will convert correctly the type of each column. Convert each column types to a correct one. You can use the function `pd.to_numeric()` (give you either a int64 or float64 dtype) or `pd.as_type()`:

| Pandas dtype  | Python type  | NumPy type|Usage
| :--- | :--- | :--- | :--- |
| object| str or mixed | string_, unicode_, mixed types| Text or mixed numeric and non_numeric values |
| int 64| int| int_, int8, int16, int32, int64, uint8, uint18, uint32, uint64 | Integer numbers |
| float64| float| float_, float15, float32, float64 | Floating point numbers |
| bool| bool|bool_| True/False values|
| datetime64 | NA | datetime64[ns]     | Date and time values  |
| timedelta[ns] | NA  | NA| Differences between two datetime|
| category | NA| NA| Finite list of text values|

**Example: How to use astype**
```python
# convert all DataFrame columns to the int64 dtype
df = df.astype(int)

# convert column "a" to int64 dtype and "b" to complex type
df = df.astype({"a": int, "b": complex})

# convert Series to float16 type
s = s.astype(np.float16)

# convert Series to Python strings
s = s.astype(str)

# convert Series to categorical type - see docs for more details
s = s.astype('category')
```
But here `to_numeric()` is sufficient! Use the argument `errors = 'coerce'`to deal with string values inside the column.

**Example:**

In [8]:
#Convert Sentiment to categorical
googleplaystore_user_reviews['Sentiment'] = googleplaystore_user_reviews['Sentiment'].astype('category')

In [9]:
#Sentiment_Polarity to numeric
googleplaystore_user_reviews['Sentiment_Polarity'] = pd.to_numeric(googleplaystore_user_reviews['Sentiment_Polarity'], errors='coerce')

In [10]:
#Sentiment_Subjectivity to numeric
googleplaystore_user_reviews['Sentiment_Subjectivity'] = pd.to_numeric(googleplaystore_user_reviews['Sentiment_Subjectivity'], errors='coerce')

Now lets have a look at the dtypes:

In [11]:
#Column types
print('Column types:')
googleplaystore_user_reviews.dtypes

Column types:

App                         object
Translated_Review           object
Sentiment                 category
Sentiment_Polarity         float64
Sentiment_Subjectivity     float64
dtype: object

# Part 2

##Question 4
Note that there exist some null values. For each dataframe, count the number of null values by using: `.isnull()` and `.sum()`. Drop the null values if there exist. Print the shape of your dataframes before and after the cleaning process: `.shape`. How many data was deleted ?

**Solution:**

In [12]:
#First, we want to see the DataFrame's size (use .size)
googleplaystore_user_reviews.size

321475

In [13]:
#Let's count the number of null values per column (use .isnull() and .sum())
googleplaystore_user_reviews.isnull().sum()

App                           0
Translated_Review         26868
Sentiment                 26863
Sentiment_Polarity        26929
Sentiment_Subjectivity    26873
dtype: int64

In [14]:
#Now we store the number of rows of the original Dataframe
nb_rows = len(googleplaystore_user_reviews)

In [15]:
#We can drop the rows that have a null value in them with .dropna()
googleplaystore_user_reviews = googleplaystore_user_reviews.dropna()

In [16]:
#Take a look at the new DataFrame, without any null values with .head()
googleplaystore_user_reviews.head()

                     App  ... Sentiment_Subjectivity
0  10 Best Foods for You  ...               0.533333
1  10 Best Foods for You  ...               0.288462
3  10 Best Foods for You  ...             875.000000
4  10 Best Foods for You  ...               0.300000
5  10 Best Foods for You  ...               0.300000

[5 rows x 5 columns]

In [17]:
#Check the size again, did it change?
googleplaystore_user_reviews.size

186795

In [18]:
#How many rows did we delete? (remember what you stored before dropping the null values)
print('We deleted', nb_rows - len(googleplaystore_user_reviews), 'rows!')

We deleted 26936 rows!

##Question 5
We will apply now some selections/filters on the `google_playstore_user_reviews.csv` DataFrame: 

* filter  the data reviews where the Sentiment_Subjectivity mean  > 0.5 , use: `grouby()`, `mean()` and `where()`  
* select the 10 best reviewed apps, use `.sort_values()`  
* select the genres that have the highest rating  mean: use `groupby()`, `mean()`and `sort_values()`
    
**Solution:**

In [19]:
#Take the mean of each App's Sentiment_Subjectivity
grouped_mean = googleplaystore_user_reviews.groupby('App')['Sentiment_Subjectivity'].mean()

In [20]:
#Only keep the Apps with a mean higher than 0.5
grouped_mean_higher = grouped_mean.where(grouped_mean > 0.5)
#There are some rows with null values, drop them
good_apps = grouped_mean_higher.dropna()

In [21]:
#Let's look at what we have (use .head())
good_apps.head()

App
10 Best Foods for You               50.187980
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室     0.545516
11st                                10.061110
1800 Contacts - Lens Store          36.804848
1LINE – One Line with One Touch     41.306000
Name: Sentiment_Subjectivity, dtype: float64

In [22]:
#All that is left to do is to select the 10 Apps with the highest SentimentSubjectivity
good_apps.sort_values(ascending=False)[:10]

App
CM Browser - Ad Blocker , Fast Download , Privacy     312.875000
Brightest Flashlight Free ®                           252.270452
Call Control - Call Blocker                           208.416667
Anger of stick 5 : zombie                             175.327778
Baby Panda’s Juice Shop                               175.316667
Buscapé - Ofertas e descontos                         165.320979
DIY On A Budget                                       141.325810
Dictionary - Merriam-Webster                          137.824821
Free TV Shows App:News, TV Series, Episode, Movies    130.325725
Calls & Text by Mo+                                   129.583333
Name: Sentiment_Subjectivity, dtype: float64

# Extra: Not mandatory, but feel free to try it out if you were interested in today's exercice.

## Question 1
Load the file whose URL you can find below and display its first 5 rows.

https://raw.githubusercontent.com/michalis0/Business-Intelligence-and-Analytics/master/data/google-play-store-apps/googleplaystore.csv

In [23]:
#Load the csv file
google_playstore = pd.read_csv("https://raw.githubusercontent.com/michalis0/Business-Intelligence-and-Analytics/master/data/google-play-store-apps/googleplaystore.csv")

#Display the first 5 rows
google_playstore.head()

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up

[5 rows x 13 columns]

Can you see where Pandas would have problems intepreting values?

The Size column could be problematic for starters. Python would not know how to handle the M for millions or K for thousands, nor would it be able to work with the '+'.





**Solution**: To modify the string format to a numerical format when you have some letters like M for billion and k for thousands you can use the following:
```python
data_app['Reviews'] = data_app["Reviews"].str.replace(".","") # suppress comas
data_app['Reviews'] = pd.to_numeric(data_app['Reviews'].map(lambda x: str(x)[:-1] + "000000" if str(x)[-1] == 'M' else str(x)[:-1] + "000"))

```
The `map()` function applies a function to all the columns. The lambda expression is a particular form in python to define a function. Some explanation of the example:   
* `lambda`special character to specify a lambda expression for a function  
* `x` is a variable that represent the value of column/raw,   
* `str(x)[:-1] + "000000"` corresponds to the new value (instead of x), note that we delete the last character and we add `"000000"`to the string if the last character is `M`.  
* `.str.replace(".","")`first transform the `Object` type to a string, then replace the dot by a empty character.

Use the following cell to modify the Size column, the example should help.

In [24]:
#Use the str.replace function to replace the ".", replace them with empty quotes.
google_playstore['Size'] = google_playstore["Size"].str.replace(".","") # suppress comas

#Now use the lambda function to convert these numbers to actual numbers and the column type to numerical
google_playstore['Size'] = pd.to_numeric(google_playstore['Size'].map(lambda x: str(x)[:-1] + "000000" if str(x)[-1] == 'M' else str(x)[:-1] + "000"), errors = 'ignore')

#Last of all, use the .head() method to see what changed
google_playstore.head()

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up

[5 rows x 13 columns]

Once again, have a look at the different dtypes:

| Pandas dtype  | Python type  | NumPy type|Usage
| :--- | :--- | :--- | :--- |
| object| str or mixed | string_, unicode_, mixed types| Text or mixed numeric and non_numeric values |
| int 64| int| int_, int8, int16, int32, int64, uint8, uint18, uint32, uint64 | Integer numbers |
| float64| float| float_, float15, float32, float64 | Floating point numbers |
| bool| bool|bool_| True/False values|
| datetime64 | NA | datetime64[ns]     | Date and time values  |
| timedelta[ns] | NA  | NA| Differences between two datetime|
| category | NA| NA| Finite list of text values|

Using the argument `errors = 'coerce'`to deal with string values inside the column, convert each column to the required type.

In [25]:
#Type to categorical
google_playstore['Type'] = google_playstore['Type'].astype('category')

In [26]:
#Price to int
google_playstore['Price'] = pd.to_numeric(google_playstore['Price'], errors = 'coerce')

In [27]:
#Rating to categorical
google_playstore['Content Rating'] = google_playstore['Content Rating'].astype('category')

In [28]:
#Genre to categorical
google_playstore['Genres'] = google_playstore['Genres'].astype('category')

In [29]:
#Last Updated to DateTime, you can use the following argument: format="%B %d, %Y"
google_playstore['Last Updated'] = pd.to_datetime(google_playstore['Last Updated'], format="%B %d, %Y", errors = 'coerce')

In [30]:
#Let's look at the data types now (use .dtypes)
google_playstore.dtypes

App                       object
Category                  object
Rating                   float64
Reviews                   object
Size                      object
Installs                  object
Type                    category
Price                    float64
Content Rating          category
Genres                  category
Last Updated      datetime64[ns]
Current Ver               object
Android Ver               object
dtype: object